<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Untitled Document</title>
	<meta content="IE=edge" http-equiv="X-UA-Compatible" />
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/style.css">
	<!--[if lt IE 9]> 
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
	<![endif]-->
</head>

<body>
	<header>
		<div class="wrapper">
			<div id="logo">
				<figure>
					<img src='img/logo.png' alt="logo" />
				</figure>
			</div>
			<div class='tel'>
				+380 <span>67 <span>757 30 46</span></span>
			</div>
			<div class='icons'>
				<div class="label_box">
					<input type="text" required/>
					<label></label>
				</div>
				<a href="" class="simile"><span class='simile_items'>1</span></a>
				<div class='log_reg'>
					<a href="" class="login"></a><br/>
					<span><a href='#' class='entry'>Вход</a> /<a href='#' class='reg'>Регистрация</a></span>
				</div>
				
				<a href="" class="cart"><span class='cart_items'>1</span></a>
			</div>
		</div>
	</header>
	<div class='menu'>
		<div class='wrapper'>
			<a id="touch-menu" class="mobile-menu" href="#"><i class="icon-reorder"></i>Меню</a>
			<nav>
				<ul class='nav'>
					<li><a href='#'>Мужчинам</a></li>
					<li><a href='#'>Женщинам</a></li>
					<li class="li_for_submenu"><a href='#'>Аксессуары</a>
						<ul class='subMenu'>
							<li><a href='#'>Головные уборы</a></li>
							<li><a href='#'>Сумки</a></li>
						</ul>
					</li>
					<li><a href='#'>Пошив</a></li>
					<li><a href='#'>Оплата и доставки</a>
						<ul class='subMenu'>
							<li><a href='#'>Головные уборы</a></li>
							<li><a href='#'>Сумки</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active">
				<span></span>
			</li>
			<li data-target="#carousel-example-generic" data-slide-to="1">
				<span></span>
			</li>
			<li data-target="#carousel-example-generic" data-slide-to="2">
				<span></span>
			</li>
		</ol>
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="img/banner.jpg" alt="...">
				<div class="carousel-caption">
					<h1>Пошив одежды </h1>
					<img src='img/vin_gray.png' alt='' />
					<p>Добро пожаловать в магазин! Индивидуальный пошив мужских и женских кожаных курток, зимних, весенне-осенних и демисезонных. Пошив сумок, портфелей и головных уборов, Киев. Если Вы решили купить красивую кожаную куртку, Вы обратились по адресу!</p>
				</div>
			</div>
			<div class="item">
				<img src="img/banner.jpg" alt="...">
				<div class="carousel-caption">
					<h1>Пошив одежды </h1>
					<img src='img/vin_gray.png' alt='' />
					<p>Добро пожаловать в магазин! Индивидуальный пошив мужских и женских кожаных курток, зимних, весенне-осенних и демисезонных. Пошив сумок, портфелей и головных уборов, Киев. Если Вы решили купить красивую кожаную куртку, Вы обратились по адресу!</p>
				</div>
			</div>
			<div class="item">
				<img src="img/banner.jpg" alt="...">
				<div class="carousel-caption">
					<h1>Пошив одежды </h1>
					<img src='img/vin_gray.png' alt='' />
					<p>Добро пожаловать в магазин! Индивидуальный пошив мужских и женских кожаных курток, зимних, весенне-осенних и демисезонных. Пошив сумок, портфелей и головных уборов, Киев. Если Вы решили купить красивую кожаную куртку, Вы обратились по адресу!</p>
				</div>
			</div>
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		</a>
	</div>
	<article class="main_text">
		<div class="wrapper">
		<h2>Пошив одежды</h2>
		<p>«Добро пожаловать в магазин! Индивидуальный пошив мужских и женских кожаных курток, зимних, весенне-осенних и демисезонных»</p>
		<div class='column_for_MainText'>
			<span class='column'>Равным образом начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что рамки и место обучения кадров в значительной степени обуславливает создание существенных финансовых и административных условий. Повседневная практика показывает, что новая модель организационной деятельности требуют определения и уточнения соответствующий. </span>
			<span class='column'>Повседневная практика показывает, что начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение существенных финансовых и административных условий. Товарищи! новая модель организационной деятельности способствует подготовки и реализации соответствующий условий активизации. </span>
			<span class='column'></span>
		</div>
		</div>
	</article>
	<article class='testimonialis'>
		<div class='wrapper'>
			<h3>Отзывы</h3>
			<figure>
				<img src='img/vin_yellow.png' alt="" />
			</figure>
			<section class="review">
				<div class='rev1'>
					<span class='date'>21.01.16</span>
					<p>С другой стороны укрепление и развитие структуры требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции</p>
				</div>
				<div class='rev2'>
					<span class='date'>22.01.16</span>
					<p>С другой стороны укрепление и развитие структуры требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции</p>
				</div>
				<div class='rev3'>
					<span class='date'>23.01.16</span>
					<p>С другой стороны укрепление и развитие структуры требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции</p>
				</div>
				<div class='rev4'>
					<span class='date'>24.01.16</span>
					<p>С другой стороны укрепление и развитие структуры требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции</p>
				</div>
				<div class='rev5'>
					<span class='date'>25.01.16</span>
					<p>С другой стороны укрепление и развитие структуры требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции</p>
				</div>
				<div class='rev6'>
					<span class='date'>26.01.16</span>
					<p>С другой стороны укрепление и развитие структуры требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции</p>
				</div>
				<div class='rev7'>
					<span class='date'>27.01.16</span>
					<p>С другой стороны укрепление и развитие структуры требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции</p>
				</div>
				<div class='rev8'>
					<span class='date'>28.01.16</span>
					<p>С другой стороны укрепление и развитие структуры требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции</p>
				</div>
			</section>
			<div class='line'></div>
			<div class="center">
				<div data-slide-number='1'>
					<figure>
						<img src='img/testimonialis.png' alt='' />
					</figure>
					<p>Олег Римков</p>
					<i>г. Киев</i>
				</div>
				<div data-slide-number='2'>
					<figure>
						<img src='img/testimonialis.png' alt='' />
					</figure>
					<p>Олег Римков</p>
					<i>г. Киев</i>
				</div>
				<div data-slide-number='3'>
					<figure>
						<img src='img/testimonialis.png' alt='' />
					</figure>
					<p>Олег Римков</p>
					<i>г. Киев</i>
				</div>
				<div data-slide-number='4'>
					<figure>
						<img src='img/testimonialis.png' alt='' />
					</figure>
					<p>Олег Римков</p>
					<i>г. Киев</i>
				</div>
				<div data-slide-number='5'>
					<figure>
						<img src='img/testimonialis.png' alt='' />
					</figure>
					<p>Олег Римков</p>
					<i>г. Киев</i>
				</div>
				<div data-slide-number='6'>
					<figure>
						<img src='img/testimonialis.png' alt='' />
					</figure>
					<p>Олег Римков</p>
					<i>г. Киев</i>
				</div>
				<div data-slide-number='7'>
					<figure>
						<img src='img/testimonialis.png' alt='' />
					</figure>
					<p>Олег Римков</p>
					<i>г. Киев</i>
				</div>
				<div data-slide-number='8'>
					<figure>
						<img src='img/testimonialis.png' alt='' />
					</figure>
					<p>Олег Римков</p>
					<i>г. Киев</i>
				</div>
			</div>
		</div>
	</article>
	<footer>
		<div class='wrapper'>
			<div>
				<figure>
					<img src="img/logo_footer.png" alt='' />
				</figure>
			</div>
			<div>
				<a href='#'>Мужчинам</a>
				<a href='#'>Женщинам</a>
				<a href='#'>Аксессуары</a>
				<a href='#'>Пошив</a>
				<a href='#'>Оплата и доставка</a>
			</div>
			<div>
				<figure>
					<a href="doitua.com"><img src="img/logo_doit.png" alt='' /></a>
				</figure>
			</div>
		</div>
	</footer>
	<div class="dm-overlay" >
		<div class="dm-modal" id="win1">
			<a href="#close" class="close1"></a>
			<h3>Вход</h3>
			<figure>
				<img src="img/vin_yellow.png" alt='' />
			</figure>
			<p>Вы можете войти с помощью социальных сетей.</p>
			<p>Мы не будем делать публикации от вашего имени</p>
			<div class='entry_width_social'>
				<a href='#' class='entry_vk'></a>
				<a href='#' class='entry_fb'></a>
				<a href='#' class='entry_google'></a>
			</div>
			<div class='modal_line'>
				<span>или</span>
			</div>
			<form>
				<input type="email" name="email" id="email" placeholder="E-mail">
				<input type="password" name="password" id="password" placeholder="Пароль">
				<input type="submit" value="ОТПРАВИТЬ" class='toCompare'>
			</form>
			<div class='goToReg'>РЕГИСТРАЦИЯ НОВОГО ПОЛЬЗОВАТЕЛЯ</div>
		</div>
	
	
		<div class="dm-modal" id="win2">
			<a href="#close" class="close2"></a>
			<h3>Регистрация</h3>
			<figure>
				<img src="img/vin_yellow.png" alt='' />
			</figure>
			<form>
				<input type="text" name="name2" id="name2" placeholder="Введите Ваше имя">
				<input type="email" name="email2" id="phone2" placeholder="E-mail">
				<input type='password' name="password" id="password" placeholder="Придумайте пароль">
				<input type='password' name="password" id="password" placeholder="Придумайте пароль">
				<div class='check'>
					<input type="checkbox" id='news'>
					<label for='news'></label>
					<span>Подписаться на новости</span>
				</div>
				<input type="submit" value="Зарегистрироваться" class='toCompare'>
			</form>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slick.js"></script>
	<script>
		$(document).ready(function(){
			$('.center').slick({
			centerMode: true,
			centerPadding: '60px',
			slidesToShow: 5,
			autoplay: true,
			autoplaySpeed: 2000,
			responsive: [
				{
					breakpoint: 768,
					settings: {
						arrows: false,
						centerMode: true,
						centerPadding: '40px',
						slidesToShow: 3
					}
				},
				{
					breakpoint: 480,
					settings: {
						arrows: false,
						centerMode: true,
						centerPadding: '40px',
						slidesToShow: 1
					}
				}
			]
		});
		});
	</script>
	<script>
		/*Слайдер отзывов*/
		$(document).ready(function() {
			setInterval(function(){
				$('.review div').removeAttr('style');
				var selectSlide = $('.slick-current').data('slideNumber');
				$('.review .rev'+ selectSlide).animate({
					opacity: '1',
				},200);
			}, 500);

		});
	</script>

</body>

</html>